%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %ul#slide-out.side-nav
        %li
          .userView
            .background
              = image_tag("profile.jpg",alt: "profile image")
            %a{:href => "#!user"}
              =image_tag("profile.jpg",alt: "profile image")
            %a{:href => "#!name"}
              %span.white-text.name John Doe
            %a{:href => "#!email"}
              %span.white-text.email jdandturk@gmail.com
        %li
          %a{:href => "#!"}
            %i.material-icons> cloud
            First Link With Icon
        %li
          %a{:href => "#!"} Second Link
        %li
          .divider
        %li
          %a.subheader Subheader
        %li
          %a.waves-effect{:href => "#!"} Third Link With Waves
      %a.button-collapse{"data-activates" => "slide-out", :href => "#"}
        %i.material-icons menu
      %ul{class:"sidebar-menu"}
        %li.sidebar-menu-op
          %span{class:"glyphicon glyphicon-user"} 
          %span.menu-op-title Profile
        %li.sidebar-menu-op
          %span{class:"glyphicon glyphicon-book"}
          %span.menu-op-title Wishlist
        %li.sidebar-menu-op
          %span{class:"glyphicon glyphicon-pushpin"}
          %span.menu-op-title Shared book
        %li.sidebar-menu-op
          %span{class:"glyphicon glyphicon-heart-empty"}
          %span.menu-op-title Booking Requests
        %li.sidebar-menu-op
          %span{class:'glyphicon glyphicon-cog'}
          %span.menu-op-title Setting
        %li.sidebar-menu-op
          %span{class:"glyphicon glyphicon-log-out"}
          %span.menu-op-title Signout
      %a.navbar-brand{:href => "#"} ShareMyBook
      .mobview-icon-container
        %a{:href => "javascript:void(0)",class:"tab mobview-icon"}
          %span{class:'tab-icon glyphicon glyphicon-tags'}
        %a{:href => "javascript:void(0)",class:"tab mobview-icon"}
          %span{class:'tab-icon glyphicon glyphicon-bell'}
        %a#user-info-mob.tab.mobview-icon{:href => "javascript:void(0)"}
          %span{class:'tab-icon glyphicon glyphicon-user'}
        %ul{class:"profile-menu"}
          %li.profile-info-box
            .profile-img
              =image_tag("profile.jpg", :alt => "profile image",width:'60px',height:'60px',class:'profile-image')
            .profile-name
              %h5
                Vineet Sahu
            .profile-email
              %span
                vineetsahu3493@gmail.com
          %li.profile-menu-op
            %span{class:"glyphicon glyphicon-user"} 
            %span.menu-op-title Profile
          %li.profile-menu-op
            %span{class:"glyphicon glyphicon-book"}
            %span.menu-op-title Wishlist
          %li.profile-menu-op
            %span{class:"glyphicon glyphicon-pushpin"}
            %span.menu-op-title Shared book
          %li.profile-menu-op
            %span{class:"glyphicon glyphicon-heart-empty"}
            %span.menu-op-title Booking Requests
          %li.profile-menu-op
            %span{class:'glyphicon glyphicon-cog'}
            %span.menu-op-title Setting
          %li.profile-menu-op
            %span{class:"glyphicon glyphicon-log-out"}
            %span.menu-op-title Signout
    %hr
      %ul.nav.navbar-nav.navbar-right
        %li.active
          %a{:href => "javascript:void(0)",class:'tab'}
            %span{class:'tab-icon glyphicon glyphicon-home'}
            %span{class:'tab-title'} Home 
        %li
          %a{:href => "javascript:void(0)",class:'tab '}
            %span{class:'tab-icon glyphicon glyphicon-book'}
            %span{class:'tab-title'} About Us
        %li
          %a{:href => "javascript:void(0)",class:'tab'}
            %span{class:'tab-icon glyphicon glyphicon-bookmark'}
            %span{class:'tab-title'} Support
        %li
          %a{:href => "javascript:void(0)",class:"tab"}
            %span{class:'tab-icon glyphicon glyphicon-home'}
            %span{class:'tab-title'} Blog
        %li{class:'notification-icon-li'}
          %a{:href => "javascript:void(0)",class:"tab"}
            %span{class:'tab-icon glyphicon glyphicon-bell'}
            %span{class:'tab-title'} Notification
        %li.notification-icon-li
          %a{:href => "javascript:void(0)",id:'user-info',class:'tab'}
            %span{class:'tab-icon glyphicon glyphicon-user'}
            %span{class:'tab-title'} User
          %ul{class:"profile-menu"}
            %li.profile-info-box
              .profile-img
                =image_tag("profile.jpg", :alt => "profile image",width:'60px',height:'60px',class:'profile-image')
              .profile-name
                %h5
                  Vineet Sahu
              .profile-email
                %span
                  vineetsahu3493@gmail.com
            %li.profile-menu-op
              %span{class:"glyphicon glyphicon-user"} 
              %span.menu-op-title Profile
            %li.profile-menu-op
              %span{class:"glyphicon glyphicon-book"}
              %span.menu-op-title Wishlist
            %li.profile-menu-op
              %span{class:"glyphicon glyphicon-pushpin"}
              %span.menu-op-title Shared book
            %li.profile-menu-op
              %span{class:"glyphicon glyphicon-heart-empty"}
              %span.menu-op-title Booking Requests
            %li.profile-menu-op
              %span{class:'glyphicon glyphicon-cog'}
              %span.menu-op-title Setting
            %li.profile-menu-op
              %span{class:"glyphicon glyphicon-log-out"}
              %span.menu-op-title Signout
    %ol.carousel-indicators
      %li.active
        %a{:href => "#section1"}
      %li
        %a{:href => "#section2"}
      %li
        %a{:href => "#section3"}
      %li
        %a{:href => "#section4"}
  
:javascript           
  $(function() {
      // Code here
      $('#user-info').click(function(event){
       event.preventDefault();
       console.log('user-info clicked');
       $('.profile-menu').toggleClass('in',100);
       document.body.style.backgroundColor = "rgba(0,0,0,0.4)"; 
      });

      $('#sidebar').click(function(event){
        console.log('sidebar clicked');
        event.preventDefault();
        console.log($('.sidebar-menu').hasClass('s-in'));
        $('.sidebar-menu').toggleClass('s-in',100);
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
      });
      $('#user-info-mob').click(function(){
        console.log('user-info-mob clicked');
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        $('.profile-menu').toggleClass('in',100);
      });
  $(".button-collapse").sideNav();
  });

:css 
  nav a.button-collapse{
   display:block;
  }